<ion-view title="Cart" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="cart-form1" class="list">
      <ion-item id="cart-list-item9">Item</ion-item>
      <ion-item id="cart-list-item10">Item</ion-item>
      <ion-item id="cart-list-item11">Item</ion-item>
      <div id="cart-markdown3" class="show-list-numbers-and-dots">
        <p style="color:#000000;">总计：100.00 元 </p>
      </div>
      <button id="cart-button2" class="button button-positive  button-block">结算</button>
    </form>
  </ion-content>
</ion-view>