<ion-view title="Help" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list id="help-list4">
      <ion-item id="help-list-item12" ui-sref="tabsController.infomation">Item</ion-item>
      <ion-item id="help-list-item13" ui-sref="tabsController.infomation">Item</ion-item>
      <ion-item id="help-list-item14" ui-sref="tabsController.infomation">Item</ion-item>
      <ion-item id="help-list-item15" ui-sref="tabsController.infomation">Item</ion-item>
    </ion-list>
  </ion-content>
</ion-view>