<ion-view title="productDetail" id="page6">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <h1 id="productDetail-heading1" style="color:#000000;">Heading</h1>
    <div id="productDetail-button-bar1" class="button-bar">
      <button id="productDetail-button6" class="button button-positive  button-block">加入购物车</button>
      <button id="productDetail-button7" class="button button-positive  button-block">立即购买</button>
    </div>
  </ion-content>
</ion-view>