<ion-view title="UserCenter" id="page4">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <button id="userCenter-button9" class="button button-positive  button-block">马上提现</button>
    <p>
      Add some
      <b>HTML</b> for
      <u>flavor</u>
    </p>
    <form id="userCenter-form2" class="list">
      <ion-toggle toggle-class="toggle-positive" id="userCenter-toggle2">Toggle</ion-toggle>
      <ion-radio id="userCenter-radio2">Radio</ion-radio>
      <label class="item item-input" id="userCenter-input2">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>