<ion-view title="Withdraw" id="page8">
  <ion-content padding="true" class="has-header">
    <div id="withdraw-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">总积分
        <strong>markdown</strong>
      </p>
    </div>
    <form id="withdraw-form3" class="list">
      <label class="item item-input" id="withdraw-input4" name="cashnum">
        <span class="input-label">提现金额</span>
        <input type="number" placeholder="">
      </label>
      <button id="withdraw-button10" class="button button-positive  button-block">提现</button>
    </form>
    <button id="withdraw-button11" class="button button-stable  button-block">提现记录</button>
  </ion-content>
</ion-view>